[mysqld]
key_buffer_size=16M
max_allowed_packet=8M
innodb_file_per_table=true
sql_mode='STRICT_ALL_TABLES'
explicit_defaults_for_timestamp=1
init-connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake
